[submodule "contrib/ethtool"]
	path = contrib/ethtool
	url = git://git.kernel.org/pub/scm/network/ethtool/ethtool.git
[submodule "contrib/arkime"]
	path = contrib/arkime
	url = https://github.com/arkime/arkime
[submodule "contrib/llama.cpp"]
	path = contrib/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "ui"]
	path = ui
	url = https://github.com/AvaronInc/ui.git
