[Unit]
Description=Avaron
After=network-online.target
Requires=named.service llama-server.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=@PREFIX/bin/@BIN
User=@BIN
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
